<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat thingy</title>
</head>
<body>
    <h1>Current messages: </h1>

    <div id="msgs">

    </div>

    <form id="send">
        <div class="form-group">
            <input id="submit" type="textbox" class="form-control" placeholder="type something!">
        </div>

    </form>

    <script src="chat.js"></script>
</body>
</html>