
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div class="cursor"></div>
    <p>Welcome to my website, just start typing :)</p>
    <p id="testo"></p>
    <form method="POST">
        <div class="form-group">
            <input id="form" type="textbox" name="username" class="form-control" placeholder="type something!">
        </div>
    </form>

    <script src="home.js"></script>

</body>
</html>